body {
  background-color: #000000ea;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  text-align: center;
}

.header {
  text-align: center;
  color: #fdffff;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

.container-about {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
 
}
.container{
  width: 100vw;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.place{
  margin: 10px;
}
.nature{
  width: 400px;
  height: auto;
}
.btn-term {
  padding: 10px;
  font-size: 20px;
  margin: 3px;
  width: 90px;
  font-size: 15px;
  background-color: #ffffffa7;
  border-radius: 10px;
}
.btn-term:hover{
  background-color: #fdffffdb;
}

.containerHeader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hotelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 10px 35px 30px 35px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 46px 41px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 5px 46px 41px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 46px 41px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}



.btn {
  opacity: 0.7;
  background-color: #ffffff1f;
  font-size:25px;
  color: #ffffffa1;
  padding: 10px;
  border: none;
  height: 500px;
  width: 60px;
  text-transform: uppercase;
 box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  
}
.btn:hover {
  opacity: 0.2;
  background-color: #ffffff27;
  color: #fff;
 
}

.name {
  padding: 10px;
}

.not {
  background-color: #1c2e37;
  color: #fff;
  border: none;
  width: 100%;
  height: 60px;
  padding-bottom: 0px;
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}

.not:hover {
  background-color: #68a1be4e;
}

img {
  width: 500px;
  height: 350px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #ffffff;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.container-contact {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 500px;
}

input,
select {
  width: 400px;
  height: 30px;
}

label{
  color: #fff;
  font-size: 20px;
}
.btn-sbm{
  padding: 10px;
  width: 200px;
  margin: 20px auto;

}
textarea {
  width: 400px;
  height: 70px;
}

.formSended {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

@media all and (max-width:500px) {

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

img {
  width: 350px;
  height: auto;
}
  

}
